@font-face {
	    font-family: 'Poppins';
		src: url('/fonts/poppins/Poppins-Light.ttf') format('truetype');
}
@font-face {
	    font-family: 'Poppins-b';
		src: url('/fonts/poppins/Poppins-Black.ttf') format('truetype');
}
@font-face {
	    font-family: 'Poppins-eb';
		src: url('/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
	    font-family: 'Roboto';
		src: url('/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

body, section, article, div, header {margin: 0; padding: 0}