doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name="author" content="Gideon Akinsanmi")
    meta(name="description" content="entry point for managing sales, content, data and everything business-related")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/fonts/font-awesome 5.14/font 5.14/css/all.css" type="text/css")
  body(style='padding:10px;margin:0;font-family:Poppins;')
        style
          include ../../user ui styling/general.css
        
        
              
                    